@import url(https://fonts.googleapis.com/css?family=Aleo);
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);
.bg-renk {
    background: #F8D353;
    background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
    background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
    background: linear-gradient(top left, #F8D353, #FF5C5A);
}


.loginText{
	font-family: 'Aleo';
	font-size: 22px;
	margin-bottom: 5px;
}

#particles-js{ 
    position: fixed;
    width: 100%; 
    height: 100%;
}