.bg-renk {
    background: #F8D353;
    background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
    background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
    background: linear-gradient(top left, #F8D353, #FF5C5A);
};