@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Aleo|Roboto');
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);
.bg-renk {
    background: #F8D353;
    background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
    background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
    background: linear-gradient(top left, #F8D353, #FF5C5A);
}
.pricing-card-title{
    font-family: 'Roboto', sans-serif;
}
.fa-whatsapp {
    color : #29a71a;
}
.pointer{
    cursor: pointer;
}
.contact-text{
    font-family: 'Advent Pro', sans-serif;
    font-size: 50px;
}
.fontlu-text{
	font-family: 'Aleo', serif;
	font-size: 22px;
	margin-bottom: 5px;
}

.yorumlar {
    font-family: 'Aleo', serif;
    font-size: 35px;
}

.yorumYap {
    font-family: 'Aleo', serif;
    font-size: 35px;
}


#particles-js{ 
    position: fixed;
    width: 100%; 
    height: 100%;
}